# Preparing Data Sets for Sentiment Analysis

The datasets being used come from kaggle:

https://www.kaggle.com/datasets/rmisra/news-category-dataset/

https://www.kaggle.com/datasets/snapcrack/all-the-news

https://www.kaggle.com/datasets/asad1m9a9h6mood/news-articles

These include a collection of historic news articles from various sources and in varying categories from sports, business, politics, etc. We plan on cleaning the data sets and extracting only those which we believe are relevant to our sentiment analysis.

The primary categories we want to look at as politics and business news.

In [1]:
import pandas as pd

In [4]:

articles = pd.read_csv('Articles.csv', encoding = "ISO-8859-1")

articles

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
...,...,...,...,...
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

In [6]:
articles1 = pd.read_csv("articles1.csv")
articles2 = pd.read_csv("articles2.csv")

articles1

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."
...,...,...,...,...,...,...,...,...,...,...
49995,53287,73465,"Rex Tillerson Says Climate Change Is Real, but …",Atlantic,Robinson Meyer,2017-01-11,2017.0,1.0,NaN,"As chairman and CEO of ExxonMobil, Rex Tillers..."
49996,53288,73466,The Biggest Intelligence Questions Raised by t...,Atlantic,Amy Zegart,2017-01-11,2017.0,1.0,NaN,I’ve spent nearly 20 years looking at intellig...
49997,53289,73467,Trump Announces Plan That Does Little to Resol...,Atlantic,Jeremy Venook,2017-01-11,2017.0,1.0,NaN,Donald Trump will not be taking necessary st...
49998,53290,73468,Dozens of For-Profit Colleges Could Soon Close,Atlantic,Emily DeRuy,2017-01-11,2017.0,1.0,NaN,Dozens of colleges could be forced to close ...
49999,53291,73469,The Milky Way’s Stolen Stars,Atlantic,Marina Koren,2017-01-11,2017.0,1.0,NaN,The force of gravity can be described using a ...

In [7]:
articles2

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,53293,73471,Patriots Day Is Best When It Digs Past the Her...,Atlantic,David Sims,2017-01-11,2017.0,1.0,NaN,"Patriots Day, Peter Berg’s new thriller that r..."
1,53294,73472,A Break in the Search for the Origin of Comple...,Atlantic,Ed Yong,2017-01-11,2017.0,1.0,NaN,"In Norse mythology, humans and our world were ..."
2,53295,73474,Obama’s Ingenious Mention of Atticus Finch,Atlantic,Spencer Kornhaber,2017-01-11,2017.0,1.0,NaN,“If our democracy is to work in this increasin...
3,53296,73475,"Donald Trump Meets, and Assails, the Press",Atlantic,David A. Graham,2017-01-11,2017.0,1.0,NaN,Updated on January 11 at 5:05 p. m. In his fir...
4,53297,73476,Trump: ’I Think’ Hacking Was Russian,Atlantic,Kaveh Waddell,2017-01-11,2017.0,1.0,NaN,Updated at 12:25 p. m. After months of equivoc...
...,...,...,...,...,...,...,...,...,...,...
49994,103453,151902,"If Baltimore is serious about police reform, g...",Guardian,Lawrence Grandpre,2016-08-12,2016.0,8.0,https://www.theguardian.com/commentisfree/2016...,There have been many proposed solutions to the...
49995,103454,151903,The transition from summer to fall feels like ...,Guardian,Mary Valle,2016-08-28,2016.0,8.0,https://www.theguardian.com/commentisfree/2016...,"Maybe I feel like August won’t let go of me, b..."
49996,103455,151904,"Colombia: Farc’s female fighters, then and now...",Guardian,NaN,2016-09-16,2016.0,9.0,https://www.theguardian.com/artanddesign/2016/...,"Diana Marcela, 28, has spent 13 years with Far..."
49997,103456,151905,Why I’m optimistic about 2017,Guardian,Paul Mason,2016-12-26,2016.0,12.0,https://www.theguardian.com/politics/commentis...,"This Christmas break, for anybody steeped in t..."
49998,103457,151906,Prayer and pain: why gay conversion therapy is...,Guardian,Tom Dart,2016-07-15,2016.0,7.0,https://www.theguardian.com/world/2016/jul/15/...,Brian Nesbitt’s therapist made a suggestion in...

In [11]:
news_catagories_data = pd.read_json("News_Category_Dataset_v3.json",lines=True)

news_catagories_data

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28

We will start with the news category data set since it is already categorized. The links and authors are not very useful so we will remove those columns, drop any NA rows and seperate the data by category.

In [19]:

news_catagories_data

,headline,category,short_description,date
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,2022-09-23
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,2022-09-23
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",2022-09-23
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",2022-09-23
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,2022-09-22
...,...,...,...,...
209522,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,2012-01-28
209523,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",2012-01-28
209524,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",2012-01-28
209525,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,2012-01-28
209526,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,2012-01-28

In [20]:
news_catagories_data.category.unique()

array(['U.S. NEWS', 'COMEDY', 'PARENTING', 'WORLD NEWS', 'CULTURE & ARTS',
       'TECH', 'SPORTS', 'ENTERTAINMENT', 'POLITICS', 'WEIRD NEWS',
       'ENVIRONMENT', 'EDUCATION', 'CRIME', 'SCIENCE', 'WELLNESS',
       'BUSINESS', 'STYLE & BEAUTY', 'FOOD & DRINK', 'MEDIA',
       'QUEER VOICES', 'HOME & LIVING', 'WOMEN', 'BLACK VOICES', 'TRAVEL',
       'MONEY', 'RELIGION', 'LATINO VOICES', 'IMPACT', 'WEDDINGS',
       'COLLEGE', 'PARENTS', 'ARTS & CULTURE', 'STYLE', 'GREEN', 'TASTE',
       'HEALTHY LIVING', 'THE WORLDPOST', 'GOOD NEWS', 'WORLDPOST',
       'FIFTY', 'ARTS', 'DIVORCE'], dtype=object)

The main cateogries we might be interested in here are US news, World News, Business, and Money. So we will create seperate data frames for each of these since we may combine other data frames with similar categories with them.

In [26]:

tech_news = news_catagories_data[news_catagories_data['category'] == 'TECH'].reset_index()

us_news = news_catagories_data[news_catagories_data['category'] == 'U.S. NEWS'].reset_index()

world_news = news_catagories_data[news_catagories_data['category'] == 'WORLD NEWS'].reset_index()

business_news = news_catagories_data[news_catagories_data['category'] == 'BUSINESS'].reset_index()

money_news = news_catagories_data[news_catagories_data['category'] == 'MONEY'].reset_index()

In [28]:
money_news

,headline,category,short_description,date
1796,Why You Should Get Your Holiday Shopping Done ...,MONEY,"Supply chain issues are out of your control, b...",2021-10-21
3259,Investors Who Made Money Trading GameStop Have...,MONEY,"Those who recently flipped shares of GameStop,...",2021-02-04
3335,The IRS Delayed Tax Season. Here's How To Get ...,MONEY,Last-minute changes to tax laws in 2020 mean t...,2021-01-22
4623,Where's My Stimulus Check? How To Track Your C...,MONEY,"If your check was sent but you never got it, y...",2020-06-16
4854,Do You Have To Pay Taxes On Your Coronavirus S...,MONEY,Getting a payment won't mean a higher tax bill...,2020-05-08
...,...,...,...,...
206515,Bad Bosses: 9 Reasons Your Manager Stinks,MONEY,"Here are nine signs your superior may not be, ...",2012-02-29
206524,Save On Eating Out By Putting The Menu Down,MONEY,We're not going to tell you to stop eating out...,2012-02-29
206528,Tax Scams To Look Out For This Year,MONEY,7. Schemers file fake forms to claim credits t...,2012-02-29
206530,How To Manage My 401(k),MONEY,"""A 401(k) in and of itself is no guarantee tha...",2012-02-29
206531,Tax Deductions For Students And Other Tax Breaks,MONEY,1. Students We might not be able to offer you ...,2012-02-29

We can see that the money news data frame perhaps it won't be as useful given the type of content in there, however it may be useful so we will keep it. 

We can use the tech category to compare its sentiment with the implied volatility of options on the NASDAQ 100 (Ticker: QQQ) which is a collection of the largest tech companies. We can use the sentiment on the US news to look at implied volatility on the S&P 500 (Ticker: SPY) which is a collection of the biggest 500 companies in the US. Lastly, we can use the world news to look at options on the Dow Jones Commodities Index.

Now we want to attempt to categorize the remaining data sets.

In [32]:
articles.NewsType.unique()

array(['business', 'sports'], dtype=object)

We can see that this first data set only has business news and sports news so we will remove all the rows for sports.

In [50]:
articles = articles[articles['NewsType'] != 'sports'].reset_index()
articles

,level_0,index,Article,Date,Heading,NewsType
0,0,0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,1,1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,2,2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,3,3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,4,4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
...,...,...,...,...,...,...
1279,1279,1279,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
1280,1280,1280,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
1281,1281,1281,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
1282,1282,1282,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
1283,1283,1283,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

In [51]:
articles = articles.drop(columns=['level_0', 'index'], axis=1)

In [52]:
articles

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
...,...,...,...,...
1279,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
1280,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
1281,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
1282,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
1283,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

So now we have only Business news aticles, we can also look to seperate into US and global news. We want any mention of US cities, states, etc to be classed as US news, and everything else to be world.

In [60]:


pd.set_option('display.max_rows', 200)
articles.tail(500)

,Article,Date,Heading,NewsType
784,strong>HONG KONG: Hong Kong stocks fell back a...,7/8/2016,Hong Kong stocks edge back down at,business
785,WASHINGTON: US employers added new workers at ...,7/9/2016,US economy looks strong with 287000 jobs added...,business
786,SHANGHAI: The world´s top 20 economies will wo...,7/10/2016,G20 nations pledge to boost trade despite grow...,business
787,strong>KARACHI: Pakistan stocks closed higher...,7/11/2016,Pakistan shares end higher erase Brexit,business
788,strong>LONDON: Gold edged lower on Tuesday as ...,7/12/2016,Gold slips Brexit tensions ease stocks rally,business
...,...,...,...,...
1279,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
1280,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
1281,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
1282,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
1283,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

We can see that there are many different headlines, by fortunately they all follow a similar format. It appears that the only American headlines are ones that include "Washington" or "New York", so we will do some simple pattern matching to find those.

In [61]:
import re 

american_locations_pattern = r'\b(?:new york|washington|newyork)\b' 


def check_us_location(text):
    return bool(re.search(american_locations_pattern, text.lower()))


articles['Location'] = articles['Article'].apply(lambda x: 'US' if check_us_location(x) else 'Global')

In [62]:

articles

,Article,Date,Heading,NewsType,Location
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business,Global
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business,Global
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business,Global
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business,US
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business,US
...,...,...,...,...,...
1279,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business,Global
1280,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business,Global
1281,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business,US
1282,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business,Global
1283,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business,Global

We can see that this didn't work perfectly, but it is okay since some were classes as US because they included New York or Washington in the headline so it should be close enough. We can split the data set into US and Global articles now as well.

In [63]:
us_articles = articles[articles['Location'] == 'US'].reset_index()
global_articles = articles[articles['Location'] == 'Global'].reset_index()

In [64]:
us_articles

,index,Article,Date,Heading,NewsType,Location
0,3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business,US
1,4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business,US
2,5,New York: Oil prices tumbled Tuesday to fresh ...,1/7/2015,oil hits new 5.5 year lows as saudis defend,business,US
3,9,SYDNEY: Oil prices fell 1 percent on Wednesday...,1/14/2015,oil extends losses as world bank cuts growth for,business,US
4,10,TOKYO: Tokyo stocks opened 0.74 percent lower ...,1/14/2015,tokyo stocks open 0.74 percent lower,business,US
...,...,...,...,...,...,...
230,1257,strong>WASHINGTON: The World Bank on Sunday an...,3/20/2017,World Bank announces 57 bln in financing for Afri,business,US
231,1263,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business,US
232,1271,strong>WASHINGTON: A company owned by the fami...,3/14/2017,Trump son in law 4 bn deal Chinese company,business,US
233,1275,strong>WASHINGTON: The World Bank on Sunday an...,3/20/2017,World Bank announces 57 bln in financing for Afri,business,US
234,1281,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business,US

We can repeat this for the last 2 data files.

In [67]:
articles1.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [68]:
articles2.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,53293,73471,Patriots Day Is Best When It Digs Past the Her...,Atlantic,David Sims,2017-01-11,2017.0,1.0,NaN,"Patriots Day, Peter Berg’s new thriller that r..."
1,53294,73472,A Break in the Search for the Origin of Comple...,Atlantic,Ed Yong,2017-01-11,2017.0,1.0,NaN,"In Norse mythology, humans and our world were ..."
2,53295,73474,Obama’s Ingenious Mention of Atticus Finch,Atlantic,Spencer Kornhaber,2017-01-11,2017.0,1.0,NaN,“If our democracy is to work in this increasin...
3,53296,73475,"Donald Trump Meets, and Assails, the Press",Atlantic,David A. Graham,2017-01-11,2017.0,1.0,NaN,Updated on January 11 at 5:05 p. m. In his fir...
4,53297,73476,Trump: ’I Think’ Hacking Was Russian,Atlantic,Kaveh Waddell,2017-01-11,2017.0,1.0,NaN,Updated at 12:25 p. m. After months of equivoc...

We first want to clean these datasets.

In [69]:
articles1 = articles1.drop(columns=['Unnamed: 0', 'id', 'url'], axis=1)
articles2 = articles2.drop(columns=['Unnamed: 0', 'id', 'url'], axis=1)

In [70]:
articles2

,title,publication,author,date,year,month,content
0,Patriots Day Is Best When It Digs Past the Her...,Atlantic,David Sims,2017-01-11,2017.0,1.0,"Patriots Day, Peter Berg’s new thriller that r..."
1,A Break in the Search for the Origin of Comple...,Atlantic,Ed Yong,2017-01-11,2017.0,1.0,"In Norse mythology, humans and our world were ..."
2,Obama’s Ingenious Mention of Atticus Finch,Atlantic,Spencer Kornhaber,2017-01-11,2017.0,1.0,“If our democracy is to work in this increasin...
3,"Donald Trump Meets, and Assails, the Press",Atlantic,David A. Graham,2017-01-11,2017.0,1.0,Updated on January 11 at 5:05 p. m. In his fir...
4,Trump: ’I Think’ Hacking Was Russian,Atlantic,Kaveh Waddell,2017-01-11,2017.0,1.0,Updated at 12:25 p. m. After months of equivoc...
...,...,...,...,...,...,...,...
49994,"If Baltimore is serious about police reform, g...",Guardian,Lawrence Grandpre,2016-08-12,2016.0,8.0,There have been many proposed solutions to the...
49995,The transition from summer to fall feels like ...,Guardian,Mary Valle,2016-08-28,2016.0,8.0,"Maybe I feel like August won’t let go of me, b..."
49996,"Colombia: Farc’s female fighters, then and now...",Guardian,NaN,2016-09-16,2016.0,9.0,"Diana Marcela, 28, has spent 13 years with Far..."
49997,Why I’m optimistic about 2017,Guardian,Paul Mason,2016-12-26,2016.0,12.0,"This Christmas break, for anybody steeped in t..."
49998,Prayer and pain: why gay conversion therapy is...,Guardian,Tom Dart,2016-07-15,2016.0,7.0,Brian Nesbitt’s therapist made a suggestion in...

Since this is a much larger data set with many more irrelevant articles and content, we will need a more sophisticated way of breaking up this data. Using our categorized data set, we can train a machine learning model to predict which categority each of the articles should fall in. Since our main focus is stock options, we will start by classifying tech vs not tech, then move on to other categories. We will use the labeled data for training.

In [71]:
news_catagories_data

,headline,category,short_description,date
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,2022-09-23
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,2022-09-23
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",2022-09-23
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",2022-09-23
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,2022-09-22
...,...,...,...,...
209522,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,2012-01-28
209523,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",2012-01-28
209524,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",2012-01-28
209525,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,2012-01-28
209526,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,2012-01-28